*.pydevproject
.project
.metadata
.idea
*.iml
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.lkp

local.properties
.classpath
.settings/
.loadpath

.externalToolBuilders/

*.launch

# CDT-specific
.cproject
.buildpath


*.versionsBackup
target
/deploy-to-dev-publish.bat
/.apt_generated/
